{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block body %}

<h1>These are our latest videos</h1>

{# here you can use the Twig variable 'videos' that gets passed from the controller #}
<ul class="list-group">
{% for video in videos %}
<li class="list-group-item"><a href="/videos/video{{ loop.index }}">{{ video.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
